ABC Ed Services/Service References/TafeDBServiceReference/TafeDBService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://abcedwcfservice20180519062332.azurewebsites.net/TafeDBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ABCEdWCFSerivce.Class" />
  <xs:element name="insertStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateEnrolled" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertStudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCourseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ABCEdWCFSerivce.Class" minOccurs="0" name="viewStudentsResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ABCEdWCFSerivce.Class" minOccurs="0" name="viewCoursesResult" nillable="true" type="q2:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enrolResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnrolmentsForStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnrolmentsForStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ABCEdWCFSerivce.Class" minOccurs="0" name="getEnrolmentsForStudentResult" nillable="true" type="q3:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsEnrolledInCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsEnrolledInCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ABCEdWCFSerivce.Class" minOccurs="0" name="getStudentsEnrolledInCourseResult" nillable="true" type="q4:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>